<h2>Doctors</h2>
<%= link_to "New", new_doctor_path %>
<% @doctors.each do |doctor| %>
<div>
    <% if doctor.picture != nil %>
    <%= image_tag doctor.picture, height: 100, class: 'mt-2' %>
    <% end %>
</div>
    <div>
    <%= link_to "Show",doctor_path(id: doctor.id), class: 'btn btn-primary btn-sm' %> 
    <%= link_to "Edit",edit_doctor_path(id: doctor.id), class: 'btn btn-primary btn-sm' %>
    <%= link_to "Delete",doctor_path(id: doctor.id),method: :delete,
    data: { confirm: "Are you sure?" }, class: 'btn btn-primary btn-sm' %> <%= doctor.first_name %> <%= doctor.last_name %> 
    <%= doctor.specialty %> <%= doctor.email %> <%= doctor.phone %>
    </div>
<% end %>