<div class="row">
    <div class="col-8">
        <h4>Available Doctors for <%= @patient.first_name %> <%= @patient.last_name %></h4>
        <% @doctors.each do |doctor| %>
           <% if PatientDoctor.where('patient_id = ? AND doctor_id = ?',@patient.id,doctor.id).length == 0 %>
            <div class="media mt-3">
                <%= image_tag doctor.picture, height: 100, width: 100, class: 'mr-3' %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= link_to "Add", add_doctor1_patient_path(@patient,doctor_id: doctor.id), method: :post, class: 'btn btn-primary btn-sm' %>
                        <%= doctor.first_name %> <%= doctor.last_name %>
                    </h5>
                    <h5><%= doctor.specialty %></h5>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="col-4">
        <h4>Selected Doctors for <%= @patient.first_name %> <%= @patient.last_name %></h4>
        <% @patient.patient_doctors.each do |patient_doctor| %>
            <div class="media mt-3">
                <%= image_tag patient_doctor.doctor.picture, height: 50, width: 50, class: 'mr-3' %>
                <h6>
                    <%= link_to 'Remove', remove_doctor1_patient_path(@patient,patient_doctor_id: patient_doctor.id), method: :delete, class: 'btn btn-danger btn-sm' %>
                    <%= patient_doctor.doctor.first_name %> <%= patient_doctor.doctor.last_name %>
                </h6>
            </div>
        <% end %>
        <div>
<%= link_to "Show Appointments", patient_path(@patient), class: 'btn btn-primary btn-sm m-2' %>
</div>
    </div>
</div>
